.row {
	font-size: 0;
}

.square {
	width: 50px;
	height: 50px;
	display: inline-block;
}

.checker {
	box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.checker.cpu {
	background-color: green;
}

.checker.player {
	background-color: red;
}

.checker.player.selected {
	border: 2px dotted orange;
}

.checker.candidate {
	background-color: transparent;
	border: 2px dotted orange;
}

.row:nth-child(2n) > .square:nth-child(2n) {
	background-color: white;
}

.row:nth-child(2n) > .square:nth-child(2n+1) {
	background-color: black;
}

.row:nth-child(2n+1) > .square:nth-child(2n) {
	background-color: black;
}

.row:nth-child(2n+1) > .square:nth-child(2n+1) {
	background-color: white;
}